.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h2, h3 {
  text-align: center;
  color: #333;
}

ul {
  list-style-type: disc;
  list-style: disc;
  margin-left: 20px;
  padding: 0px;
  margin: 0px;
  display: block;
  align-items: left;
}

li {
  margin-bottom: 10px;
  margin-left: 20px;
  display: flex;
  align-items: left;
  padding: 0px;
  margin: 0px;
  width: 100%;
}

p {
  line-height: 1.5;
}
