.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  color: blanchedalmond;
}

.image {
  margin-right: 15px;
  width: 50px;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(13, 66, 123);
  font-size: 30px;
}