.container {
  padding: 10px 20px;
  color: rgb(13, 66, 123);
  width: 100%;
}

.image {
  margin-right: 15px;
  width: 50px;
}

.title {
  display: flex;
  align-items: center;
  margin-right: 0px;
  font-size: 30px;
}

h1 {
  padding: 0px;
  margin: 0px;
}

.liTitleImage {
  margin: 0px 0px;
  width: 230px;
}

a {
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #0831ab;
}

.link {
  text-decoration: none;
}

table {
  width: 100%;
}