.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.footer {
  margin-top: auto;
  width: 100%;
  background-color: #282c34;
  padding: 10px 0;
  color: black;
  text-align: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(65, 115, 170);
  color: #fff;
}

.AddTask {
  margin-bottom: 30px;
}

th, td {
  text-align: left;
  width: 250px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.TaskItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  margin-bottom: 8px;
  padding: 12px;
  border-radius: 5px;
}